select {
  display: block;
}

.state path {
  fill: #fff;
  stroke: #999;
  stroke-width: 1px;
}

.hidden {
  display: none;
}

label, button {
  margin-right: 25px;
  cursor: pointer;
}

circle.player {
  stroke-width: 0;
}

circle.school {
  stroke: #fff;
  stroke-width: 1;
}

.mean {
  opacity: 0.1;
}

.location {
  stroke: #fff;
  stroke-width: 2;
}

.median {
  opacity: 0.1;
}