select {
  display: block;
}

.state path {
  fill: #fff;
  stroke: #999;
  stroke-width: 1px;
}

.hidden {
  display: none;
}

label {
  margin-right: 15px;
  cursor: pointer;
}

button {
  margin-right: 10px;
  cursor: pointer;
}

.sub-form {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;
}

.sub-form h3 {
  margin: 3px 0;
}

circle.player {
  stroke-width: 0;
}

circle.school {
  stroke: #fff;
  stroke-width: 1;
}

.mean {
  opacity: 0.1;
}

.location {
  stroke: #fff;
  stroke-width: 2;
}

.median {
  opacity: 0.1;
}