#content, header {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.selector {
  margin-right: 15px;
  display: inline-block;
}

.state path {
  fill: #efefef;
  stroke: #999;
  stroke-width: 1px;
}

.hidden {
  display: none;
}

circle.player {
  stroke-width: 0;
}

circle.school {
  stroke: #fff;
  stroke-width: 2;
}

.mean {
  stroke: #666;
  stroke-width: 1px;
  fill-opacity: 0;
  stroke-dasharray: 20,2;
}

.median {
  stroke: #666;
  stroke-dasharray: 2,2;
  stroke-width: 1px;
  fill-opacity: 0;
}

.active path {
  fill: #fff;
}

.team h2, .team h3, .team p {
  margin: 2px 0;
}

.team .number {
  font-size: 2em;
}

/*
 * state count bar chart
 */
.state-bar-chart {
  display: block;
}

.tick line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick text {
  text-anchor: middle;
}

text.count {
  text-anchor: middle;
}