.map-holder, .teams-holder {
  display: inline-block;
  vertical-align: middle;
}

.teams-holder label {
  display: inline-block;
  padding: 3px 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #eee;
  width: 200px;
  font-size: 1.5em;
}

.teams-holder label input {
  float: right;
}

select {
  display: block;
}

.state path {
  fill: #fff;
  stroke: #999;
  stroke-width: 1px;
}

.hidden {
  display: none;
}

label {
  margin-right: 15px;
  cursor: pointer;
}

.controls {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.controls h2 {
  margin: 3px 0;
}

.sub-form {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;
}

.sub-form h3 {
  margin: 3px 0;
}

circle.player {
  stroke-width: 0;
}

circle.school {
  stroke: #fff;
  stroke-width: 1;
}

.mean {
  opacity: 0.15;
}

.location {
  stroke: #fff;
  stroke-width: 2;
}

.median {
  opacity: 0.15;
}