body {
    background: #222233;
    font-family: 'Press Start 2P', cursive;
    color: rgb(228, 213, 106);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.toggleable {
    padding: 4px;
    margin: 0 5px 0;
    display: inline-block;
    border: 2px solid rgb(228, 213, 106);
    border-radius: 5px;
    cursor: pointer;
}

.toggleable input {
    display: none;
}

.toggleable.active {
    background: rgb(228, 213, 106);
    color: #222233;
}

.planet rect {
    fill: transparent;
}

.selected {
    stroke: rgb(228, 213, 106);
    stroke-width: 2px;
}

.specs {
    font-family: 'Oswald', sans-serif;
    color: #222233;
    line-height: 1.5em;
    border-radius: 15px;
    background: #A2E7EA;
    padding: 15px;
    display: none;
}

.specs.active {
    display: block;
}